@font-face {
	font-family: 'Circular';
	src: url('CircularStd-Book.eot');
	src: url('CircularStd-Book.eot?#iefix') format('embedded-opentype'),
		url('CircularStd-Book.woff') format('woff'),
		url('CircularStd-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Circular Bold';
	src: url('CircularStd-Bold.eot');
	src: url('CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
		url('CircularStd-Bold.woff') format('woff'),
		url('CircularStd-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

* {
    font-family: 'Circular', Arial;
}


m {
  color: white;
  font-family: 'Nobile', sans-serif;
  font-size: 24px;
  text-align: center;
}



.h4 {
  font-size: 24px;
}

n {

font-size: 24px;


}
p {
    font-size: 17px;
}
strong {
    font-family: 'Circular Bold', Arial;
    font-weight: 300;
    font-size: 1em;
}

.btn, btn-flat {
    text-transform: capitalize !important;
    font-size: 17px;
}
.btn-large {
    text-transform: capitalize !important;
    font-size: 18px;
}

#head {
    background-color: #2c3e50;
    background-position: center center;
    background-repeat: no-repeat;
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#2c3e50), to(#1a1a1a));
    background: -webkit-radial-gradient(circle, #2c3e50, #1a1a1a);
    background: -moz-radial-gradient(circle, #2c3e50, #1a1a1a);
    background: -ms-radial-gradient(circle, #2c3e50, #1a1a1a);
    background-size: auto auto;
    width: 100%;
    height: 600px;
    color: white;
    margin-bottom: 40px;
    text-shadow: 1px 1px 10px #000;
    box-shadow: 2px 2px 20px #000;
}

.grey_background {
    background-color: #2c3e50;
    margin-top: 10px;
}

.grey_background:hover {
    color: #2c3e50;
}

.green_background {
    background-color: #4caf50;
    margin-top: 10px;
}

.green_background:hover {
    color: #4caf50;
}

.red_background {
    background-color: #f44336;
    margin-top: 10px;
}

.red_background:hover {
    color: #f44336;
}

.linkedin_background {
    background-color: #0077B6;
    margin-top: 10px;
}

.linkedin_background:hover {
    color: #548cb9;
}

.instagram_background {
  background-color: #3f729b;
	margin-top: 10px;

}

.instagram_background:hover {
  color: #3f729b ;
}

.github_background {
  background-color: #444444;
  margin-top: 10px;
}

.github_background:hover {
  color: #444444 ;
}


.twitter_background {
  background-color: #55acee;
  margin-top: 10px;
}

.twitter_background:hover {
  background-color: #55acee ;
}

.facebook_background {
  background-color: #3b5998;
  margin-top: 10px;
}

.facebook_background:hover {
  color: #3b5998;
}

.youtube_background {
  background-color: #ff0000;
  margin-top: 10px;
}

.youtube_background:hover {
  color: #ff0000;
}


.skype_background {
  background-color: #00aff0;
  margin-top: 10px;
}

.skype_background:hover {
  color: #00aff0;
}

.medium_background {
  background-color: #00ab6c;
  margin-top: 10px;
}

.medium_background:hover {
  color: #00ab6c;
}


.redpanda {
    color: #e74c3c;
}
.extra {
    width: 100%;
    height: 100%;
    text-align: center;
}
.col-panda {
    display: inline-block;
    width: auto;
    height: auto;
    overflow-y: hidden;
    text-align: center;
    padding: 30px;
    vertical-align: middle;
}
.col-panda > h1 {
    font-weight: 300;
}
.col-panda img {
    transition: all 0.3s ease;
}
.col-panda img:hover {
    transform: scale(1.1);
}
/* Carousel */

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
    /* Control buttons  */
    /* Previous button  */
    /* Next button  */
    /* Changes the position of the indicators */
    /* Changes the color of the indicators */
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-control.left {
    left: -60px;
}
#quote-carousel .carousel-control.right {
    right: -60px;
}
#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    border: 4px solid #CCC;
    border-radius: 50px;
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;
}
#quote-carousel .carousel-indicators .active {
    background: #333333;
    width: 128px;
    height: 128px;
    border-radius: 100px;
    border-color: #f33;
    opacity: 1;
    overflow: hidden;
}
.carousel-inner {
    min-height: 300px;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

/* Apps Tested */
.tests {
	width: 100%;
 	overflow: hidden;
 	text-align: center;
 	line-height: 0.7;

    background: #780206;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #061161, #780206);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #061161, #780206); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}





.testBanner {


  margin: 50px auto;
 	width: 2700px;
  	overflow: hidden;
}
.testBanner img {
  	position: relative;
  	padding: 50px 40px;
  	width: 300px;
  	transition: all 0.2s ease;
}
.testBanner img:hover {
  	transform: scale(1.1);
}
.first {
	-webkit-animation: bannermove 20s linear infinite;
	   -moz-animation: bannermove 20s linear infinite;
	    -ms-animation: bannermove 20s linear infinite;
	     -o-animation: bannermove 20s linear infinite;
	        animation: bannermove 20s linear infinite;
}
@keyframes "bannermove" {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -2690px;
  }
}
@-moz-keyframes bannermove {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -2690px;
  }
}
@-webkit-keyframes "bannermove" {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -2690px;
  }
}
@-ms-keyframes "bannermove" {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -2690px;
  }
}
@-o-keyframes "bannermove" {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -2690px;
  }
}



/* START OF CONTACTS SECTION */
.contact {
    text-align: center;
    overflow-x: hidden;
    background: #780206;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #061161, #780206);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #061161, #780206); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: 50px;
    /*transform: rotate(-3deg);*/
    width: 100%;
    height: auto;
}
h1.contact-white {
    font-size: 250%;
}
h1.contact-white, .contact div > p {
    color: #fff;
    font-weight: 300;
}
.contact > div {
    display: inline-block;
    width: 400px;
    height: auto;
    padding: 50px 0;
    overflow-y: hidden;
    text-align: center;
    vertical-align: middle;
}
.contact-icons {
    text-decoration: none;
    padding: 20px;
    color: #74b1be;
    transition: all 0.3s ease;
}
.contact-icons:hover {
    color: #fff;
}


.btn, .btn-resume {
    border-radius: 25px;
}

.btn:hover, .btn-resume:hover {
    background-color: white;
}

.btn-flat {
    text-transform: capitalize;
    font-size: 1.05em;
}

#header_blob {
    position: relative;
    top: 50px;
    width: 100%;
}

#header_blob h5 {
    font-size: 1.3em;
    line-height: 0.6em;
}

#header_blob h1 {
    line-height: 0.6em;
}

#my_picture {
    margin: auto;
    display: block;
    width: 230px;
    border: solid 4px #fff;
}

#header_text {
    display: block;
    text-align: center;
}

.header_link {
    color: #fff;
    transition: color 0.3s linear;
    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
    -o-transition: color 0.3s linear;
    -ms-transition: color 0.3s linear;
}

.header_link:hover {
    color: #4caf50;
}

#li_icon {
    margin-left: 20px;
}

nav {
    width: 100%;
    background-color: transparent;
    box-shadow: 0 0 transparent;
}

#nav-mobile {
    width: 80%;
    margin-left: 10%;
    margin-top: -25px;
}

#nav-mobile li {
    width: 25%;
}

#nav-mobile li a {
    width: 100%;
    display: inline-block;
}

.link_underline a {
    position: relative;
    color: #f2f2f2;
}

.link_underline a:hover {
    color: #f2f2f2;
}

.link_underline a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #333;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
}

.link_underline a:hover:before {
    visibility: visible;
    background-color: #4caf50;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

@media (max-width: 450px) {
    #header_blob h1 {
        font-size: 3.5em;
    }
}

@media (max-width: 1450px) {
    #nav-mobile {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 945px) {
    #head {
        height: 650px;
    }
    #nav-mobile {
        width: 100%;
        margin-left: -5%;
        margin-top: -20px;
    }
    #nav-mobile li {
        width: 50%;
        line-height: 0.8em;
    }
}

.nav-wrapper {
    display: block;
    position: relative;
    text-align: center;
    margin-top: 90px;
    width: 100%;
}

.header_btn {
    color: #fff;
    font-size: 2em;
    width: 20%;
}

.social_links {
    margin: 0 15px 0 15px;
    color: #fff;
    transition: color 0.3s linear;
    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
    -o-transition: color 0.3s linear;
    -ms-transition: color 0.3s linear;
}

.social_links:hover {
    color: #4caf50;
}

.card-content p {
    font-size: 16px;
}

.modal_text {
    font-size: 16px;
}

.styled_link {
    border-bottom: 4px solid #4caf50;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    color: #333;
    -webkit-transition: background-color 0.5s, border 1s;
    transition: background-color 0.5s, border 1s;
}

.styled_link:hover {
    background-color: #4caf50;
    border: 4px solid #4caf50;
}

p {
    font-size: 1.5em;
}

footer {
    text-shadow: 2px 2px 5px #000;
}

body {
    font-family: helvetica;
}

#content {
    margin-top: 50px;
    text-align: center;
}

section.timeline-outer {
    width: 80%;
    margin: 0 auto;
}

h1.header {
    font-size: 50px;
    line-height: 70px;
}

.timeline {
    border-left: 10px solid #66bb6a;
    color: #333;
    margin: 50px auto;
    margin-left: 20px;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    padding: 20px;
    list-style: none;
    text-align: left;
}

.timeline h1, .timeline h2, .timeline h3 {
    font-size: 1.4em;
}

.timeline .event {
    padding: 2px 15px 2px 15px;
    margin-bottom: 20px;
    background-color: #bdbdbd;
    border-radius: 8px;
    position: relative;
}

.timeline p {
    margin: 10px 10px 15px 10px;
}

.timeline .event i {
    margin: 6px 0 0 -28px;
    position: absolute;
}

.timeline .event:before, .timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -177.5px;
    top: 20px;
    color: #212121;
    content: attr(data-date);
    text-align: right;
    font-size: 17px;
    min-width: 110px;
    max-width: 110px;
}

.timeline .event:after {
    box-shadow: 0 0 0 3px #0d47a1;
    left: -30px;
    background: #0d47a1;
    margin-top: 20px;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px;
}

.timeline-hr {
    border-top: 0.5px solid #333;
    border-bottom: 0px solid #333;
}

.place {
    font-family: "Circular Bold", Arial;
    line-height: 1em;
    margin-bottom: -15px
}

.title {
    line-height: 1em;
    font-size: 1.2em !important;
}

.location {
    line-height: 1em;
    margin-top: -10px;
    font-size: 1.2em !important;
}

.experience {
    font-size: 16px !important;
    line-height: 25px;
}

.experience_bullets {
    margin: 10px 10px 15px 10px;
}

.experience_bullets li {
    list-style-type: square;
    margin-left: 20px;
}

@media (max-width: 945px) {
    .timeline .event::before {
        left: 0.5px;
        top: 20px;
        min-width: 100%;
        font-size: 13px;
        text-align: center;
        margin-top: -10px;
    }
    .timeline {
        margin-left: 0;
    }
    .timeline h3 {
        font-size: 16px;
    }
    section.lab h3.card-title {
        padding: 5px;
        font-size: 16px
    }
    .place {
        margin-top: 30px;
        font-size: 18px !important;
    }
    .experience_bullets {
        margin-bottom: 15px;
    }
    .place, .title, .location {
        text-align: center;
    }
    .timeline .event:before {
        content: attr(data-date);
        text-align: center;
        font-size: 15px !important;
    }
}

@media (max-width: 768px) {
    .timeline .event::before {
        left: 0.5px;
        top: 20px;
        min-width: 100%;
        text-align: center;
        font-size: 13px;
        margin-top: -10px;
    }
    .timeline h3 {
        font-size: 16px;
    }
    .place {
        margin-top: 30px;
        font-size: 18px !important;
    }
    .experience_bullets {
        margin-bottom: 15px;
    }
    .place, .title, .location {
        text-align: center;
    }
    .social_links_box a i {
        font-size: 1em;
    }
}

.chip {
    font-size: 14px;
}
.chip1 {
    font-size: 13px;
}

a.portfolio-link {
    margin: 0 auto;
    display: block;
    text-align: center;
}

html {
    overflow-x: hidden;
}

::selection {
    background: #83c985;
}

::-moz-selection {
    background: #83c985;
}

.resume_buttons {
    line-height: 2em;
}

i {
    padding-top: -5px;
}

.page-footer {
    background-color: #2c3e50;
    background-position: center center;
    background-repeat: no-repeat;
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#2c3e50), to(#1a1a1a));
    background: -webkit-radial-gradient(circle, #2c3e50, #1a1a1a);
    background: -moz-radial-gradient(circle, #2c3e50, #1a1a1a);
    background: -ms-radial-gradient(circle, #2c3e50, #1a1a1a);
    background-size: auto auto;
}

.tooltipped {
    margin-bottom: 20px;
}

.footer-copyright {
    color: #fff !important;
    font-size: 16px;
}

#windsor-image {
    max-width: 80%;
    margin-left: 10%;
}

.video-container {
  position: relative;
}

video {
  height: auto;
  vertical-align: middle;
  width: 100%;
}


.overlay-desc {
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* Text Overlay */
#lab_video_text_overlay h2 {
  font-size:4em
}

#lab_video_text_overlay .btn {
  border-radius:0;
  text-transform:uppercase;
  font-weight:200;
}
#lab_video_text_overlay .btn-warning {
  background-color:#F5D328;
}

#lab_video_text_overlay {
  position: absolute;
  color: #FFF;
  width: 100%;
  top: 25%;
}

#lab_video_text_overlay .container {
  text-align: center;
  margin: 0px auto;
//  background-color: #669900;
}

@media screen and (max-width:991px) {
  #lab_video_text_wrap {
    height: 300px;
  }
}

@media screen and (max-width:650px) {
  #lab_video_text_wrap {
    height: 250px;
  }
  #lab_video_text_overlay h2 {
    font-size: 2em;
  }
  #lab_video_text_overlay p {
    font-size: .9em;
  }
}

